
distor/Distor/__pycache__/__init__.cpython-37.pyc
distor/Distor/__pycache__/__init__.cpython-37.pyc
distor/Distor/__pycache__/distor.cpython-37.pyc
distor/Distor/__pycache__/sheet.cpython-37.pyc
distor/Distor/.sheet.py.swp